<html>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Andrew J Paulino</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/contactme">Contact Me</a></li>
                <li><a href="/aboutme">About Me</a></li>
                
          </ul>
        </div>
      </nav>    
    <head>
      <title> Thank You!</title>
    </head>
    <body>
      <div class="container">
       <h1> Thank you </h1>
      </div>
    </body>
  </html>